.banner {
    position: relative;
    height: 600px;
    color: white;
    object-fit: contain;
}

.banner-content {
    margin-left: 30px;
    padding-top: 240px;
    height: 190px; 
}

.banner-title {
    font-size: 3.5rem;
    font-weight: 800;
    padding-bottom: 0.1rem;
    margin: 0;
}

.banner-description {
    width: 41rem;
    line-height: 1.3; 
    font-size: 1rem; 
    max-width: 500px; 
    height: 80px;
    font-weight: 500;
    margin-bottom: 15px;
    padding-top: 5px;
}

.banner-fade-bottom {
    height: 12.75rem;
    background-image: linear-gradient(
        180deg,
        transparent,
        rgba(37, 37, 37, 0.8),
        #111
    );
}

.banner-button {
    cursor: pointer;
    outline: none;
    border: none;
    font-weight: 750;
    border-radius: 5px;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
    background-color: #e6e6e6;
    padding-bottom: 0.5rem;
    height: 40px;
    font-size: 17px;
    color: #000;
}

.banner-button:hover {
    color: #fff;
    background-color: rgba(51, 51, 51, 0.5);
    transition: all 0.2s;
}
